
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$customer-portal-primary: mat.define-palette(mat.$indigo-palette);
$customer-portal-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$customer-portal-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$customer-portal-theme: mat.define-light-theme((
  color: (
    primary: $customer-portal-primary,
    accent: $customer-portal-accent,
    warn: $customer-portal-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($customer-portal-theme);

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@200;600&display=swap');
@import './../../../libs/material/src/lib/mixins', './../../../libs/material/src/lib/breakpoints';

html {
    background-color: #040809;
    scroll-behavior: smooth !important;
}

body {
    background-color: #040809;
    color: #fcfcfa;
    
}

a {
    color: #AB8D60
}

.text, .bottle-info, .card {
    color: #fcfcfa;
   
    > strong{
        display: block;
        padding: 9px 13px;
        font-family: 'Saira';
        font-style: normal;
        font-size: 19px;
        line-height: 29px;
        font-weight: 600;
        
    }
    > span {
        display: block;
        padding: 9px 13px;
        font-family: 'Saira';
        font-style: normal;
        font-size: 19px;
        line-height: 29px;
        font-weight: 200;
    }
}
html, body { height: 100%; }
body { margin: 0}
