<div class="header-wrapper">
    <div class="logo">
        <img src="../../assets/titles/logo.svg" alt="Our Logo - Agave Spirits s.r.o.">
    </div>
    <menu>
        <a href="#about">ABOUT</a>
        <svg width="2" height="25" viewBox="0 0 2 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="2" height="25" rx="1" fill="#FCFCFA"/>
            </svg>
        <a href="#mezcal">MEZCAL</a>
        <svg width="2" height="25" viewBox="0 0 2 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="2" height="25" rx="1" fill="#FCFCFA"/>
            </svg>
        <a href="#agave">AGAVE</a>
        <svg width="2" height="25" viewBox="0 0 2 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="2" height="25" rx="1" fill="#FCFCFA"/>
            </svg>
        <a href="#process">PROCESS</a>
        <svg width="2" height="25" viewBox="0 0 2 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="2" height="25" rx="1" fill="#FCFCFA"/>
            </svg>
        <a href="#product">PRODUCTS</a>
        <svg width="2" height="25" viewBox="0 0 2 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="2" height="25" rx="1" fill="#FCFCFA"/>
            </svg>
        <!--<a href="#news">NEWS</a>
        <svg width="2" height="25" viewBox="0 0 2 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="2" height="25" rx="1" fill="#FCFCFA"/>
            </svg>
        <a href="#mixology">MIXOLOGY</a>
        <svg width="2" height="25" viewBox="0 0 2 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="2" height="25" rx="1" fill="#FCFCFA"/>
            </svg>-->
        <a href="#contact">CONTACT</a>
    </menu>
</div>